<div class="home-events">
  <% if !@events.blank? %>
  <% @events.each do |e| %>
  <div class="event panel panel-primary">
    <div class="panel-heading">
      <div class="title">
        <%= e.title %>
      </div>
      <div class="date"><%= e.date %></div>
    </div>
    <div class="panel-body">
        <%= e.description %>
    </div>
  </div>
  <% end %>
  <% else %>
  <p>No current events. Please check back later!</p>
  <% end %>
</div>
