<div class='container'>
  <div class='row'>
  	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  		<h1>News</h1>
  	</div>
    <% @articles.each do |article| %>
    <% if !cms_block_render('body', article).blank? %>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <h2><%= cms_block_render('title', article) %></h2>
      <p class="lead"><em><%= cms_block_render('date', article) %></em></p>
      <p><%= cms_block_render('body', article) %></p>
      <hr />
  	</div>
    <% end %>
    <% end %>
  </div>
</div>
