<div class='container'>
  <div class='row'>
  	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

     	<h1>HSFC News</h1>

    	<% @articles.each do |article| %>
      	<h2><%= cms_block_render('title', article) %></h1>
      	<em><%= cms_block_render('date', article) %></em>
      	<p class='lead'><%= cms_block_render('body', article) %></p>
    	<% end %>

	</div>
  </div>
</div>
