// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-title {
  text-align: center;
}

.event-row {
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

.delete_event {
  margin-top: 4px;
}

.edit_event {
  margin-top: 4px;
}
