@import "variables";
@import "mixins";

/* HSFC STYLEZ! */

body{
  font-family: helvetica, arial, verdana, sans-serif;
  color:$body;
}
p a{
  color:$body;
}

/* Sticky footer */
html, body{
  height:100%;
  width:100%;
}
.wrap{
  min-height:100%;
  margin-bottom:-300px; 
  &:after{
    content:"";
    display:block;
  }
}
footer, .wrap::after{
  min-height:300px;
}

/* Navigation */
nav{
  border:none !important;
  background:$white !important;
  
  .logo{
    width:150px;
    height:68px;
    background-image:url(image_path('logo.jpg'));
    background-size: 150px 68px;
    background-repeat:no-repeat;
    background-position:top left;
    margin-right:30px;
  }
  
}
.hsfc-navigation{
  list-style:none;
  margin:25px -25px 0 0;
  padding:0;
  letter-spacing:0.01em;
  &:hover > li > a, &:hover > li > button{
    
  }
  
  
  li.primary-nav{
    display:inline;
    margin-left:0;

    font-size:1.5em;
    font-weight:600;

    a.dropdown-toggle, a{
      padding:10px;
      margin-left:60px;
      cursor:pointer;
      color:$blue;
      @include transition(all 0.2s ease-in-out);
      &:hover{
        color:$red;
      }
    
      .fa{
        margin-left:3px;
        color:$blue-light;
      }
    }
  }
  
  /*Ease in transition for navigation drop down*/
  .open {    
    a.primary-focus{
      padding:10px 10px;
      background:#fff;
      color:$blue;
      border:0;
      position:relative;
      z-index:2000;
    }
    .dropdown-menu{      
      opacity:1;
      margin-top:-50px !important;
      visibility:visible;
    }
  }
  li{
    display:inline-block;
    @include transition(all 0.2s ease-in-out);
    &:hover{      
      
    }
    a, button{
      padding:0 0 0 0;
      margin:0;
      color:$blue;
      letter-spacing:0.04em;
      background:transparent !important;
      border:none !important;
      text-decoration:none;
      position:relative;
      z-index:300;
      @include transition(color 0.2s ease-in-out);
      &:hover{
      }
    }
    .dropdown-menu{
      background:$white;
      border:1px solid $blue;
      margin:-55px 0 0 50px !important;
      padding:50px 0 5px !important;
      @include border-radius(4px);
      @include box-shadow(0 5px 10px -7px #111);
      @include transition(all 0.1s ease-in-out);      
      opacity:0;
      left:0 !important;
      right:auto !important;
      visibility:hidden;
      display:block;
            
      li{
        display:block;
        padding:5px 0 5px 0 !important;
      
        a{
          color:$blue;
          font-weight:500;
          letter-spacing:0.04em;
          padding:0 20px;
          margin:0;
        
          &:hover, &:hover::after{
            color:$red !important;
            background:none;
          }
        }
      }
      li.dropdown-last{
        border-bottom:none !important;
      }            
      .arrow{
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent; 
        border-bottom:10px solid $blue;
        position:absolute;
        top:-10px;
        left:20px;
        z-index:100;
      }
    } 
  }
}
.nav-divider{
  border-bottom:1px solid $blue-light;
  background-color:$white !important;
  margin-bottom:10px !important;
}
.nav-contact{
  font-size:0.9em;
  margin-top:5px;
  margin-bottom:0;
  color:$grey;
  letter-spacing:0.03em;
  
  .fa-paw{
    font-size:0.85em;
    margin:0 10px;
  }
  
  a{
    color:$grey;
    text-decoration:none;
    border-bottom:none;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      color:$blue;
    }
    
  }
  
}

/* FOOTER */
.footer-shadow{
  width:100%;
  height:30px;
  position:relative;
  z-index:100;
  background:$white;
  @include box-shadow(0 4px 11px -5px #111);
}
footer{
  background:$blue;
  padding-top:30px;
  padding-bottom:30px;
  color:$blue-light;
  letter-spacing:0.02em;
  
  ul{
    list-style:none;
    margin:0;
    padding:0;
    
    li{
      
      a{
        color:$white;
        &:hover{
          color:$orange;
        }
      }
    }
  }
}

.alert {
  left: 15%;
  position: fixed;
  width: 70%;
  z-index: 99;
}

.animal-listing {
  .animal {
    margin-bottom: 30px;
  }

  #photo-carousel {
    img {
      margin: 0 auto;
    }
  }

  .description-label {
    color: $grey;
    text-align: right;
  }

  .description {
    margin-top: 10px;
  }
}



/* INDEX NAV TABS */

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
    color: #fff;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    font-size:18px;
}

.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color:#fff;
}

/* center tabs */
.nav-tabs, .nav-pills {
    text-align:center;
    margin-top:-47px;
}

.adoptees-tab {
  width:90px;
}

#adoptees-tab-dog {
  background-color:#356034;
}

#adoptees-tab-cat {
  background-color:#fa8e00;
}

#adoptees-tab-horse {
  background-color:#3751a7;
}

#adoptees-tab-smallmammal {
  background-color:#cc1a3b;
}

.home-petrow {
  margin-top:1.3em;
}

.home-petrow .animal .img-thumbnail {
width:200px;
height:200px;
}

.nav-tabs > li {
background-color:transparent;
border:none;}

.social-share {
  .social-share-more {
    vertical-align: top;
  }

}

