@import "variables";
@import "mixins";

/* HSFC STYLEZ! */

body{
  font-family: helvetica, arial, verdana, sans-serif;
  color:$body;
}
p a{
  color:$body;
}

/* Sticky footer */
html, body{
  height:100%;
  width:100%;
}
.wrap{
  min-height:100%;
  margin-bottom:-300px; 
  &:after{
    content:"";
    display:block;
  }
}
footer, .wrap::after{
  min-height:300px;
}

/* Navigation */
nav{
  border:none !important;
  background:transparent !important;
  margin-top:5px;
  padding-bottom:10px;
  
  .logo{
    width:140px;
    height:63px;
    background-image:url(image_path('logo.jpg'));
    background-size: 140px 63px;
    background-repeat:no-repeat;
    background-position:top left;
    margin-right:30px;
  }
  
}
.hsfc-navigation{
  list-style:none;
  margin:25px -33px 0 0;
  padding:0;
  letter-spacing:0.01em;
  &:hover > li > a, &:hover > li > button{
    
  }
  
  li.primary-nav{
    display:inline;
    margin-left:0;
    font-size:1em;
    font-weight:600;

    a.dropdown-toggle, a{
      padding:10px 20px;
      cursor:pointer;
      color:$blue;
      @include transition(all 0.2s ease-in-out);
      &:hover{
        color:$green;
      }
    
      .fa{
        margin-left:3px;
        color:$blue-light;
      }
    }
  }
  
  /*Ease in transition for navigation drop down*/
  .open {    
    a.primary-focus{
      padding:10px 20px;
      background:#fff;
      color:$blue;
      border:0;
      position:relative;
      z-index:2000;
    }
    .dropdown-menu{      
      opacity:1;
      margin-top:10px;
      visibility:visible;
    }
  }
  li{
    margin:0 0 0 25px;
    display:inline-block;
    @include transition(all 0.2s ease-in-out);
    &:hover > li > a, &:hover > li > button{
      color:$grey !important;
    }
    a, button{
      padding:0 0 0 0;
      color:$blue;
      letter-spacing:0.04em;
      background:transparent !important;
      border:none !important;
      text-decoration:none;
      position:relative;
      z-index:300;
      @include transition(color 0.2s ease-in-out);
      &:hover{
      }
    }
    .dropdown-menu{
      background:$white;
      border:1px solid $blue;
      margin:5px 0 0 0;
      padding:5px 0 5px;
      @include border-radius(0);
      @include box-shadow(0 5px 10px -5px $body);
      @include transition(all 0.1s ease-in-out);      
      opacity:0;
      visibility:hidden;
      display:block;
            
      li{
        display:block;
        padding:5px 0 5px 0;
        margin:0;
      
        a{
          color:$blue;
          font-weight:500;
          letter-spacing:0.04em;
          padding:0 20px;
        
          &:hover, &:hover::after{
            color:$orange !important;
            background:none;
          }
        }
      }
      li.dropdown-last{
        border-bottom:none !important;
      }            
      .arrow{
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent; 
        border-bottom:10px solid $blue;
        position:absolute;
        top:-10px;
        left:20px;
        z-index:100;
      }
    } 
  }
}
.navbar-default{
  
  .navbar-collapse{
    border-color:transparent !important;
  }
}
.nav-divider{
  border-bottom:1px solid $blue-light;
  background-color:$white !important;
  margin-bottom:10px !important;
}
.nav-contact-rule{
  width:100%;
  margin:10px 0 0 0;
  padding:0 0 5px 0;
  border-bottom:1px solid $grey-light;
  display:inline-block;
}
.nav-contact{
  font-size:0.8em;
  
  color:$grey;
  letter-spacing:0.03em;
  
  .fa-paw{
    font-size:0.85em;
    margin:0 10px;
  }
  
  a{
    color:$grey;
    text-decoration:none;
    border-bottom:none;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      color:$blue;
    }
    
  }
  
}

/* FOOTER */
.footer-shadow{
  width:100%;
  height:30px;
  position:relative;
  z-index:100;
  background:$white;
  @include box-shadow(0 4px 11px -5px #111);
}
footer{
  background:$blue;
  padding-top:30px;
  padding-bottom:30px;
  color:$blue-light;
  letter-spacing:0.02em;
  
  ul{
    list-style:none;
    margin:0;
    padding:0;
    
    li{
      
      a{
        color:$white;
        &:hover{
          color:$orange;
        }
      }
    }
  }
}

.animal-listing {
  .animal {
    margin-bottom: 30px;
  }

  #photo-carousel {
    img {
      margin: 0 auto;
    }
  }

  .description-label {
    color: $grey;
    text-align: right;
  }

  .description {
    margin-top: 10px;
  }
}
