@import "variables";
@import "mixins";

/* HSFC STYLEZ! */

body{
  font-family: helvetica, arial, verdana, sans-serif;
  color:$body;
}
p a{
  color:$body;
}

/* Sticky footer */
html, body{
  height:100%;
  width:100%;
}
.wrap{
  min-height:100%;
  margin-bottom:-300px; 
  &:after{
    content:"";
    display:block;
  }
}
footer, .wrap::after{
  min-height:300px;
}

/* Navigation */
nav{
  padding-top:30px;
  padding-bottom:30px;
  
  .logo{
    width:150px;
    height:68px;
    background-image:url(image_path('logo.jpg'));
    background-size: 150px 68px;
    background-repeat:no-repeat;
    background-position:top left;
    margin-right:30px;
  }
  
}
.hsfc-navigation{
  list-style:none;
  margin:0;
  padding:0;
  letter-spacing:0.01em;
  
  li.primary-nav{
    display:inline;
    margin-left:30px;
    font-size:1.25em;
    font-weight:600;
  }
  a.dropdown-toggle, a{
    cursor:pointer;
    color:$body;
  }
}
.nav-contact{
  font-size:0.85em;
  margin-bottom:20px;
  color:$grey;
  letter-spacing:0.03em;
  
  .fa-paw{
    font-size:0.85em;
    margin:0 10px;
  }
  
  a{
    color:$grey;
    text-decoration:none;
    border-bottom:none;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      border-bottom:1px solid $body;
    }
    
  }
  
}

/* FOOTER */
.footer-shadow{
  width:100%;
  height:30px;
  position:relative;
  z-index:100;
  background:$white;
  @include box-shadow(0 4px 11px -5px #111);
}
footer{
  background:$blue;
  padding-top:30px;
  padding-bottom:30px;
  color:$blue-light;
  letter-spacing:0.02em;
  
  ul{
    list-style:none;
    margin:0;
    padding:0;
    
    li{
      
      a{
        color:$white;
        &:hover{
          color:$orange;
        }
      }
    }
  }
}

.animal-listing {
  .animal {
    margin-bottom: 30px;
  }
}
