@import 'variables';

.jumbotron {
    margin-bottom: 0px;

    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 600px;
    background-image: image-url("animal-dog-pet-brown.jpg");

    &.kittens {
      background-image: image-url("foster_kittens");
    }

    a {
      color: $white;
    }
}

.donate {
  position: relative;
  width: 500px;
  background-color: rgba(194, 178, 128,.3);
  float: right;
  padding: 15px 0 15px 15px;
}

.donate p {
  color: black;
  text-shadow: none;
}
