@import 'variables';

.donation.jumbotron {
    margin-bottom: 0px;
    
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 600px;

    &.kittens {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7d/4_Kittens.jpg);
    }

    a {
      color: $white;
    }
}

.donate {
}

.donate p {
  color: black;
  text-shadow: none;
}
