<footer>
  <div class="container">
    <div class="row">
      <ul class="col-md-3 col-sm-3 col-xs-6">
        <li><strong>Humane Society</strong></li>
        <li><strong>of Fairfax County</strong></li>
        <li>4057 Chain Bridge Road</li>
        <li>Fairfax VA 22030</li>
        <li>703.385.7387</li>
        <li>&nbsp;</li>
        <li>A 501(c)3 nonprofit charitable organization</li>
        <li>© 2009-2012</li>
      </ul>
      <ul class="col-md-3 col-sm-3 col-xs-6">
        <li>foo</li>
      </ul>
      <ul class="col-md-3 col-sm-3 col-xs-6">
        <li>foo</li>
      </ul>
    </div>
  </div>
</footer>